@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    @DateTime.Now.ToString("dddd"),
    @DateTime.Now.Day    @DateTime.Now.ToString("MMMM")    @DateTime.Now.Year
    
    @if( Convert.ToDouble(ViewData["random"]) > 0.5)
    {
        <p style="background-color: red;"> @ViewData["random"] </p>
    }
    else
    {
        <p style="background-color: green;"> @ViewData["random"] </p>
    }
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
