@model Laboratorium7b.Models.Invoice

@{
    ViewData["Title"] = "OrderDetails";
    @functions {
        public string FormatCurrency(decimal amount)
        {
            return string.Format(System.Globalization.CultureInfo.CurrentCulture, "{0:C}", amount);
        }
    }
}

<h1>OrderDetails</h1>

<div>
    <h4>Invoice</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.InvoiceId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.InvoiceDate)
        </dt>
        <dd class = "col-sm-10">
            <span>@Model.InvoiceDate.ToShortDateString()<span>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BillingAddress)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BillingAddress)
            @Html.DisplayFor(model => model.BillingCity)
            @Html.DisplayFor(model => model.BillingState)
            @Html.DisplayFor(model => model.BillingCountry)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Total)
        </dt>
        <dd class = "col-sm-10">
            @FormatCurrency(Model.Total)
        </dd>
        <dt class = "col-sm-2">
            Ordered Songs
        </dt>
        <dd class = "col-sm-10">
            <table style="text-align: center">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.InvoiceLines.FirstOrDefault().TrackId)</th>
                        <th>@Html.DisplayNameFor(model => model.InvoiceLines.FirstOrDefault().Track)</th>
                        <th>@Html.DisplayNameFor(model => model.InvoiceLines.FirstOrDefault().UnitPrice)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.InvoiceLines)
                    {
                        <tr>
                            <td>@item.TrackId</td>
                            <td>@item.Track.Name</td>
                            <td>@FormatCurrency(@item.UnitPrice)</td>
                        </tr>
                    }
                </tbody>
            </table>
            
            @Html.DisplayFor(model => model.Customer.CustomerId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.InvoiceId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
